<p id="notice"><%= notice %></p>

<h1>Contact Infomations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone num</th>
      <th>Address</th>
      <th>User type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_infomations.each do |contact_infomation| %>
      <tr>
        <td><%= contact_infomation.name %></td>
        <td><%= contact_infomation.email %></td>
        <td><%= contact_infomation.password %></td>
        <td><%= contact_infomation.phone_num %></td>
        <td><%= contact_infomation.address %></td>
        <td><%= contact_infomation.user_type %></td>
        <td><%= link_to 'Show', contact_infomation %></td>
        <td><%= link_to 'Edit', edit_contact_infomation_path(contact_infomation) %></td>
        <td><%= link_to 'Destroy', contact_infomation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Infomation', new_contact_infomation_path %>
