<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_infomation.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_infomation.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @contact_infomation.password %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @contact_infomation.phone_num %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact_infomation.address %>
</p>

<p>
  <strong>User type:</strong>
  <%= @contact_infomation.user_type %>
</p>

<%= link_to 'Edit', edit_contact_infomation_path(@contact_infomation) %> |
<%= link_to 'Back', contact_infomations_path %>
