<%= form_with(model: creditcard, local: true) do |form| %>
  <% if creditcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creditcard.errors.count, "error") %> prohibited this creditcard from being saved:</h2>

      <ul>
        <% creditcard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :card_num %>
    <%= form.number_field :card_num %>
  </div>

  <div class="field">
    <%= form.label :experation_date %>
    <%= form.date_select :experation_date %>
  </div>

  <div class="field">
    <%= form.label :cvv %>
    <%= form.number_field :cvv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
