<%= form_with(model: course_order, local: true) do |form| %>
  <% if course_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_order.errors.count, "error") %> prohibited this course_order from being saved:</h2>

      <ul>
        <% course_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
