<p id="notice"><%= notice %></p>

<p>
  <strong>Course num:</strong>
  <%= @course.course_num %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @course.discipline %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @course.area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
