<p id="notice"><%= notice %></p>

<h1>Teachments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachments.each do |teachment| %>
      <tr>
        <td><%= link_to 'Show', teachment %></td>
        <td><%= link_to 'Edit', edit_teachment_path(teachment) %></td>
        <td><%= link_to 'Destroy', teachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teachment', new_teachment_path %>
